<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.simplebookkeeping">
    <!-- 屏幕保持唤醒状态, 对关键进程进行强制性的运行 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".UniteApplication"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.SimpleBookkeeping">
        <activity android:name=".AboutActivity" />
        <activity android:name=".SearchActivity" />
        <activity android:name=".RecordActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>